<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
   
      <!--<add name="TRW1.Properties.Settings.TRW11ConnectionString1" connectionString="Data Source=DESKTOP-JVT65GU\SQLEXPRESS;Initial Catalog=TRW11;Integrated Security=True"-->
            <!--<add name="TRW1.Properties.Settings.TRW11ConnectionString1" connectionString="Data Source=WIN-8UEESSEO0HB;Initial Catalog=TRW11;User Id=icgadmin;Password=masterkey"-->
                 
                   <add name="TRW1.Properties.Settings.TRW11ConnectionString1" connectionString="Data Source=SANJUAN-PC\\SQLEXPRESS;Initial Catalog=REBELWINGS;User Id=sa;Password=masterkey"
                        
                 
                        
                  
            providerName="System.Data.SqlClient" />
      
    </connectionStrings>
</configuration>